comparision/
editings/styleclip
editing/styleclip_mapper
experiment/
metrics/
pics/
pretrained/
pti/
styleclip_output/
test_imgs/
test_new_model/
test_results/

models/psp_prior.py
training/coach_prior.py
cog.yaml
environment.yml
*.pt
*.png
*.md
*.zip
*.pyc